<% if current_user %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>
  <% end %>


    <script type="text/javascript">
        window.images = {
        wheelie: "<%= asset_path("Wheelie.gif") %>",
        splash1: "<%= asset_path("splash-1.png") %>",
        splash2: "<%= asset_path("piggybank.png") %>",
        splash3: "<%= asset_path("travel.png") %>",
        splash4: "<%= asset_path("experiment.png") %>",
        logo: "<%= asset_path("LogoWhite.png") %>",
        logoRobinhood: "<%= asset_path("Logo-Robinhood.png") %>",
        logoHover: "<%= asset_path("LogoHover.png") %>"
      }
    </script>

    <main id="root">
      <h1> React is not working :( </h1>
      <%= image_tag "Wheelie.gif" %>
    </main>