<!DOCTYPE html>
<html>

<head>
  <title>Stocks</title>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css" />
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
          <link rel="shortcut icon" type="image/png" href="<%= asset_path("Logo.png") %>"/>
</head>

<body>
  <%= yield %>
</body>

</html>